@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');

:root{
  --military: rgb(3, 140, 99);
  --sunn: rgb(228, 190, 1);
  --darkBrown: rgb(15, 12, 0);
  --Verypaleorange: hsl(30, 46%, 95%);
  --greysoft: hsl(210, 4%, 40%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.header {
  background-color: var(--military);
  display: flex;
  flex-direction: column;
}

nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li{
  display: inline-block;
  line-height: 100px;
  margin: 0 2rem;
  
}
nav ul li a{
  text-decoration: none;
  color: var(--Verypaleorange);
  font-size: 1.5rem;
}
nav ul li a:hover{
  color: var(--sunn);
}
.menu{
  font-size: 30px;
  color: var(--darkBrown);
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--Verypaleorange);
}
.presentation h1 {
  font-size: 4rem;
}
#h1 {
  font-size: 2rem;
}
.presentation span {
  color: var(--sunn);
}

.img {
  display:flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imgParrSup,
 .imgParrInf {
  width: 8rem;
  height: 3rem;

  text-align: center;

  background: var(--Verypaleorange);
  border-radius: 2rem;
  color: var(--darkBrown);
  font-weight: 600;
  box-shadow: 0 7px 5px var(--darkBrown)
}
.imgParrSup{
  transform: translate(30px, -120px);
}
.imgParrInf{
  transform: translate(-30px, 120px);
}
.imgParrSup span,
 .imgParrInf span{
  color: var(--sunn);
}
.imgRetrato{
  height: 300px;
}

.icons{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 margin-top: 2rem;
 gap: 5rem;
}
.icon{
  display: flex;
  background-color: var(--Verypaleorange);
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.form{
  transform: translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.formContain{
  width: 50%;
  height: 150px;
  background: var(--Verypaleorange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.mail{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ask p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.mail input{
  width: 80%;
  margin-left: 60px;
  border: none;
  background: rgb(211, 207, 207);
  border-radius: 10px;
}
.mail button{
    height: 35px;
    width: 80px;
    background: var(--military);
    border: none;
    border-radius: 10px;
    color: var(--Verypaleorange);
    font-size: 1rem;
    font-weight:700 ;
    transform: translateX(-60px);
}
.mail button:hover{
      height: 35px;
      width: 80px;
      background: var(--sunn);
      border: none;
      border-radius: 10px;
      color: var(--Verypaleorange);
      font-size: 1rem;
      font-weight:700 ;
      transform: translateX(-60px);
      
}
/*header*/

.body{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.titleAboutME{
  display: flex;
  align-self: flex-start;
  
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
  padding: 0 0 0 20.3rem;
}
.paragraph{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.palitoDelAboM{
  height: 150px;
  width: 5px;
  background: var(--military);
  margin-right: 1rem;
  border-radius: 3px;
}
.paragraph p {
  width: 50%;
  color: var(--darkBrown);
  font-size: 1rem;
  font-weight: 300;
}
.cv{
  display: flex;
  justify-content: center;
  align-items: center;
  

  width: 40%;
  height: 3rem;
}
.itemCV{
  width: 50%;
  height: 100%;
  background: var(--military);
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.itemCV a {
  text-decoration: none;
  color: var(--Verypaleorange);
}
#arrow{
  transform: translateY(4px);
}

.degrees{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 300px;
}
.titleDregrees{
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
}
.itemsDegrees{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.item{
  width: 300px;
  height: 300px;
  background: rgb(231, 229, 229);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skills{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

  margin-top: 6rem;
  gap: 2rem;
}
.titleSkills{
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
}
.tabSkills{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;

}
.skillOne{
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillBar{
  width: 700px;
  height: 1.5rem;
  background: var(--greysoft);
  border-radius: 20px;
}
.skillBarPorcen{
  width: 80%;
  height: 1.5rem;
  background: var(--military);
  border-radius: 20px;
}
.skillTwo{
  grid-column: 1/4;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillTwo .skillBarPorcen{
  width: 98%;
}
.skillThree{
  grid-column: 1/4;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillThree .skillBarPorcen{
  width: 80%;
}
.skillFour{
  grid-column: 1/4;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skillFour .skillBarPorcen{
  width: 75%;
}

.experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
  background: var(--Verypaleorange);
}
.titleExperience{
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
}
.iconsExpe{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 3rem;
}
.iconOne,
.iconThree,
.iconFour,
.iconFive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.portafolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
}
.titlePorta{
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
}
.imgPorta{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}
.imgPorta img{
  width: 70%;
  height: 70%;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.contac{
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.titleFoot{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkBrown);
  font-weight: 700;
  font-size: 2rem;
}
.contacts{
  display: flex;
  flex-direction: row;
  gap: 20rem;
}
.contactOne,
.contactTwo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contImg,
.conteImg{
  background: var(--Verypaleorange);
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.thaks{
  height: 15rem;
  width: 98.5vw;
  background: var(--military);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Verypaleorange);
  font-weight: 700;
  font-size: 2rem;
}
.love{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Verypaleorange);
  font-weight: 700;
  
}

/*media */

/*ajuste*/ 

@media(max-width: 900px){
  nav ul li a{
    font-size: 16px;
  }
  .formContain{
    width: 70%;
    height: 150px;
    background: var(--Verypaleorange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}



/*para tablet*/

@media(max-width: 760px){
  
  .menu{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 300vh;
    background: var(--military);
    top: 100px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 10px;
    gap: 2rem;
  }
  nav ul li a{
    font-size: 25px;
  }
  nav ul li a:hover{
    color: var(--sunn);
  }
  #check:checked ~ul{
    left: 0;
    position: relative;
    transform: translate(50px, -80px)
    
  }


}

/*para telefono*/

@media(max-width: 700px){
  .header {
    width: 105vmax;
    background-color: var(--military);
    display: flex;
    flex-direction: column;
  }

  .aboutMe{
    width: 215vw;
    display: flex;
    justify-content: center;
  }
  .paragraph p{
    width: 90%;
  }

  .degrees{
    width: 215vw;
    margin-top: 18rem;
  }
  .itemsDegrees{
    display: flex;
    flex-direction: column;
  }
  .skills,
  .experience{
    width: 215vw;
    margin-top: 18rem;
  }
   .footer,
   .portafolio,
   .thaks{
    width: 215vw;
    
  }
  
}